// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

a:link{text-decoration:none}
a:visited{color:#1863a1}
a:focus{color:#0181eb}
a:hover{color:#0181eb}