// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

a:link{text-decoration:none}
a:visited{color:#1863a1}
a:focus{color:#0181eb}
a:hover{color:#0181eb}

html {
// background: #ADD8E6 url('/images/line-tile.png?1374037235') top left;
background: #9DC4D1 url('/images/line-tile.png?1374037235') top left;
}

// body > header {
//   background: url('/images/background.jpg');
//   height: 120px;
// }

body > header h2 {
  color: #d2d2d2;
}

body > nav {
  background: url('/images/noise.png?1374037235'),linear-gradient(#e0e0e0,#cccccc,#b0b0b0);
  border-bottom: none;
  padding-top: 0;
  padding-bottom: 0;

}

body {
  font-family: serif;
  // font-size: 1em;
}

p {

}

div.blog-index {
// background: #f8f8f8 url('/images/linen.png') top left;

}

aside.sidebar {
// background: #f8f8f8 url('/images/light_wool.png') top left;

}

hgroup {
  a { text-shadow: 1px 1px 1px #000000;
        filter: dropshadow(color=#000000, offx=1, offy=1);}
  h2 { text-shadow: 1px 1px 1px #000000;
        filter: dropshadow(color=#000000, offx=1, offy=1);}
}